<%= form_for(@program_course) do |f| %>
  <% if @program_course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@program_course.errors.count, "error") %> prohibited this program_course from being saved:</h2>

      <ul>
      <% @program_course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
